@use "../utils/variables"as *;



.modal{
    width: 300px;
    height: 500px;
    background-color: yellow;
}

.is-hidden{
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    scale: 0;
}

.button-products{
    font-weight: 600;
    min-width: 108px;
    height: 38px;
    font-size: 12px;
    border: 2px solid #F8D24E;
    border-radius: 8px;
    background: none;
    @media screen and (min-width: 1200px){
        height: 42px;
        min-width: 134px;
        font-size: 14px;
        border-radius: 10px;
    }
    &:hover{
        border-color: #0A8817;
    }
    &:focus{
        border-color: #0A8817;
        color: #FCFCFC;
    }
    &--disabled{
        @extend .button-products;
        border-color: #ABABAB;
        pointer-events: none;
        color: #000000;
        }
    }
  

.button-read-more{
    font-weight: 600;
    min-width: 164px;
    height: 38px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background: #F8D24E;
    &:hover{
        background-color: #0A8817;
    }
    &:focus{
        background-color: #0A8817;
        color: #FCFCFC;
        fill: #FCFCFC;
    }
    &--disabled{
        @extend .button-read-more;
        background-color: #ABABAB;
        color: #000000;
        pointer-events: none;
        }
    }


    .button-how-its-made{
        font-weight: 600;
        font-size: 12px;
        border: none;
        background: none;
        text-decoration: underline;
        color: #F8D24E;
        @media screen and (min-width: 1200px){
            font-size: 14px;
        }
        &:hover{
            color: #0A8817;
        }
        &:focus{
            color: #FCFCFC;
        }
        &--disabled{
            @extend .button-how-its-made;
            color: #ABABAB;
            pointer-events: none;
            }
        }

.button-our-location{
    @extend .button-read-more;
    width: 196px;
    &--disabled{
        @extend .button-our-location;
        background-color: #ABABAB;
        color: #000000;
        pointer-events: none;
    }

}

.button-franchise{
    @extend .button-products;
    width:196px;
    font-size:14px;
    &--disabled{
        @extend .button-franchise;
        border-color: #ABABAB;
        pointer-events: none;
        color: #000000;
    }
}

.button-buy-now{
    @extend .button-read-more;
    width: 152px;
    &--disabled{
        @extend .button-buy-now;
        background-color: #ABABAB;
        color: #000000;
        pointer-events: none;
    }

}
